<html>

<head>
    <title>Google maps</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka|Yanone+Kaffeesatz" rel="stylesheet" type="text/css">

    <link type="text/css" rel="stylesheet" href="/css/general.css" />
    <link type="text/css" rel="stylesheet" href="/css/maps.css" />
</head>

<body>
    {{> header}}

    <main class="container">
      <div class="top-container">
        <h2>Mapa de ofertas</h2>

        <a class="btn" href="/">
          <i class="bi bi-grid-fill"></i>
        </a>
      </div>

      <section id="map"></section>
    </main>

    <div id="distances" style="display:none;">
      {{#offers}}
      <div id="offer-{{id}}">{{pool.direction}}</div>
      {{/offers}}
      {{#user}}
      <div id="user">{{direction}}</div>
      {{/user}}
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnW4ze6zMjnLrtTqHuLUgWyzRrzcshgd0&callback=initMap" async defer></script>
    <script src="/js/maps.js"></script>
</body>

</html>