<!DOCTYPE html>
<html lang="es">

<head>
    <title>Formulario nuevos usuarios</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka|Yanone+Kaffeesatz" rel="stylesheet" type="text/css">

    <link type="text/css" rel="stylesheet" href="/css/general.css" />
    <link type="text/css" rel="stylesheet" href="/css/newUser.css" />
    <script src="/js/newUser.js"></script>
</head>

<body>
    {{> header}}

    <div class="container">
        <h2>Nuevo usuario</h2>

        <form role="form" action="/user/register" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" name="name" placeholder="Introduzca su nombre">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="surname">Apellidos</label>
                    <input type="text" class="form-control" name="surname" placeholder="Introduzca sus apellidos">
                </div>
            </div>

            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea type="text" class="form-control" name="description" placeholder="Datos personales y profesionales de interés"></textarea>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="dni">DNI</label>
                    <input type="text" class="form-control" name="dni" placeholder="DNI/NIE">
                </div>
                <div class="form-group col-md-8">
                    <label for="mail">Correo electrónico</label>
                    <input type="text" class="form-control" name="mail" id="mail" oninput="checkMail()" placeholder="example@gmail.com" required>
                    <div id="mailContent"></div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-4">
                    <label for="age">Edad</label>
                    <input type="text" class="form-control" name="age" id="age" oninput="checkAge()" placeholder="Introduzca su edad">
                    <div id="ageContent" style="color:red"></div>
                </div>
                <div class="form-group col-md-8">
                    <label for="pass">Constraseña</label>
                    <input type="password" class="form-control" name="pass" id="pass" oninput="checkPassword()" placeholder="Introduzca su contraseña" required>
                    <div id="passContent"></div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="phone">Teléfono de contacto</label>
                    <input type="text" class="form-control" name="phone" oninput="checkPhone()" id="phone" placeholder="Introduzca su número de teléfono">
                    <div id="phoneContent" style="color:red"></div>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="country">País</label>
                    <input type="text" class="form-control" name="country" placeholder="Introduzca su país">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="locality">Localidad</label>
                    <input type="text" class="form-control" name="locality" placeholder="Introduzca su localidad">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="province">Provincia</label>
                    <input type="text" class="form-control" name="province" placeholder="Introduzca su provincia">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-8">
                    <label for="street">Calle</label>
                    <input type="text" class="form-control" name="street" placeholder="Introduzca su calle">
                </div>
                <div class="form-group col-md-4">
                    <label for="typeUser">Tipo de usuario</label> <!-- FALTA ENLAZARLO CON EL SCRIPT DE AJAX-->
                    <select class="form-select" name="typeUser" id="typeUser" onchange="showForm()">
                        <!--{{#edit}}
                        <option value="{{offer.type}}" selected hidden>{{offer.type}}</option>
                        {{/edit}}-->
                        <option value="" disabled selected>Elegir tipo de usuario</option>
                        <option value="lifeguard">Socorrista</option>
                        <option value="employer">Empleador</option>
                    </select>
                </div>
            </div>

            <div class="form-group" id="lifeguard1" style="display:none">
                <label for="photoUserField">Foto personal</label>
                <input type="file" class="form-control" name="photoUserField" id="photoUserField" accept=".jpg, .jpeg">
            </div>

            <div class="form-group" id="lifeguard2" style="display:none">
                <label for="document">Documentación profesional</label>
                <input type="text" class="form-control" name="document"> <!-- cambiar por algo de introducir pdfs-->
            </div>

            <div class="skills-container" id="lifeguard3" style="display: none">
                <h2>Mis Aptitudes</h2>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="reliability">Confianza</label>
                        <input type="checkbox" name="reliability" id="reliability">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="effort">Esfuerzo</label>
                        <input type="checkbox" name="effort" id="effort">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="communication">Comunicación</label>
                        <input type="checkbox" name="communication" id="communication">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="attitude">Actitud positiva</label>
                        <input type="checkbox" name="attitude" id="attitude">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="problemsResolution">Resolución de problemas</label>
                        <input type="checkbox" name="problemsResolution" id="problemsResolution">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="leadership">Liderazgo</label>
                        <input type="checkbox" name="leadership" id="leadership">
                    </div>
                </div>
            </div>

            <div class="form-group" id="employer1" style="display:none">
                <label for="photoCompanyField">Foto de la empresa</label>
                <input type="file" class="form-control" name="photoCompanyField" id="photoCompanyField" accept=".jpg, .jpeg">
            </div>

            <div class="form-group" id="employer2" style="display:none">
                <label for="position">Posición en la empresa</label>
                <input type="text" class="form-control" name="position" placeholder="Introduzca su posición en la empresa">
            </div>

            <div class="btn-cont">
                <button type="submit" class="btn"><i class="bi bi-download"></i> Guardar</button>
                <a href="/" class="btn btn-red" role="button"><i class="bi bi-x-lg"></i> Cancelar</a>
            </div>
        </form>

        <script>
            function showForm() {
                var selectedType = document.getElementById("typeUser").value;

                // Oculta todos los formularios
                document.getElementById("lifeguard1").style.display = "none";
                document.getElementById("lifeguard2").style.display = "none";
                document.getElementById("lifeguard3").style.display = "none";
                document.getElementById("employer1").style.display = "none";
                document.getElementById("employer2").style.display = "none";

                // Muestra el formulario correspondiente al tipo seleccionado
                if (selectedType === "lifeguard") {
                    document.getElementById("lifeguard1").style.display = "block";
                    document.getElementById("lifeguard2").style.display = "block";
                    document.getElementById("lifeguard3").style.display = "block";
                } else if (selectedType === "employer") {
                    document.getElementById("employer1").style.display = "block";
                    document.getElementById("employer2").style.display = "block";
                }
            }
        </script>
    </div>
</body>

</html>