<!DOCTYPE html>
<html>

<head>
    <title>Formulario nueva piscina</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka|Yanone+Kaffeesatz" rel="stylesheet" type="text/css">

    <link type="text/css" rel="stylesheet" href="/css/general.css" />
    <link type="text/css" rel="stylesheet" href="/css/newOffer.css" />
</head>

<body>
    {{> header}}

    <div class="container">
        <h2>Nueva Oferta</h2>

        <form role="form" action="/pool/add" method="post">

            <div class="form-group">
                <label for="name">Nombre</label>
                <textarea type="text" class="form-control" name="name"></textarea>
            </div>

            <div class="form-group">
                <label for="dir">Dirección</label>
                <input type="text" class="form-control" name="dir" placeholder="Móstoles, C/Velázquez 2">
            </div>

            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea type="text" class="form-control" name="description" placeholder="Detalles relevantes de la piscina"></textarea>
            </div>

            <div class="form-group">
                <label for="description">Aforo</label>
                <textarea type="text" class="form-control" name="aforo"></textarea>
            </div>

            <div class="row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="start">Hora apertura</label>
                    <input type="time" class="form-control text-uppercase" name="start">
                </div>
            </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="start">Hora de cierre</label>
                    <input type="time" class="form-control text-uppercase" name="close">
                </div>
            </div>

           

            <div class="btn-cont">
                <button type="submit" class="btn"><i class="bi bi-download"></i> Guardar</button>
                <a href="/" class="btn btn-red" role="button"><i class="bi bi-x-lg"></i> Cancelar</a>
            </div>

            <input type ="hidden" name="_csrf" value="{{token}}"/>

        </form>
    </div>
</body>

</html>