<!DOCTYPE html>
<html>

<head>
    <title>Ofertas</title>

    {{> config}}

    <link type="text/css" rel="stylesheet" href="/css/offers.css" />

    <script src="/js/offers.js"></script>
</head>

<body>
    {{> header}}

    <main class="container">
        <div class="top-container">
            <h2>Ofertas de trabajo</h2>

            <a class="btn" href="/">
                <i class="bi bi-map-fill"></i>
            </a>
        </div>

        <section class="offers" id="offers"></section>

        <div class="btn-cont" id="loadOffers">
            <button class="btn" onclick='loadOffers()'>
                <i class="bi bi-chevron-double-down"></i> Cargar más
            </button>
        </div>
    </main>

    {{#employer}}
    <div class="btn-cont bottom-right-button">
        <a href="/offer/add" class="btn" role="btn"><i class="bi bi-plus-circle"></i></a>
    </div>

    <div class="btn-cont bottom-left-button">
        <a href="/pool/add" class="btn" role="btn"><i class="bi bi-plus-circle"></i></a>
    </div>
    {{/employer}}

</body>

</html>