{{#lifeguards}}
<div class="commentContainer" id="{{offer.id}}">
    <div class="lifeguard"> <a href="/profile?type=0&mail={{mail}}">{{mail}}:</a></div>
    {{#employer}}
    <form role="form" action='/offer/offered/set' method="post">
        <div class="btn-cont">
            <button type="submit" class="btn btn-blue "><i class="bi bi-person-add"></i></button> {{#offerAssigned}}<div class="btn-cont"><a class="btn btn-blue"><i class="bi bi-check2"></i></a></div>{{/offerAssigned}}
        </div>
        <input type ="hidden" name="_csrf" value="{{token}}"/>
        <input type ="hidden" name="lg" value="{{mail}}"/>
        <input type ="hidden" name="ido" value="{{offer.id}}"/>
    </form>
    {{#offerAssigned}}
    <form role="form" action='/offer/offered/delete' method="post">
        <div class="btn-cont">
            <button type="submit" class="btn btn-red "><i class="bi bi-person-dash"></i></button>
        </div>
        <input type ="hidden" name="_csrf" value="{{token}}"/>
        <input type ="hidden" name="lg" value="{{mail}}"/>
        <input type ="hidden" name="ido" value="{{offer.id}}"/>
    </form>
    {{/offerAssigned}}
    {{/employer}}

</div>
{{/lifeguards}}
{{^lifeguards}}
<div class="commentContainer">
    <div class="msgPool"> No hay ofertas </div>
</div>
{{/lifeguards}}