<!DOCTYPE html>
<html>

<head>
    <title>Oferta de trabajo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Vina+Sans|Kanit" rel="stylesheet" type="text/css">

    <link type="text/css" rel="stylesheet" href="../public/general.css" />
    <link type="text/css" rel="stylesheet" href="../public/offer.css" />
</head>

<body>
    <header>
        <div>
            <a href="index.html" style="color: inherit; text-decoration: none">
                <h1>H20S</h1>
            </a>
        </div>
    </header>

    <div class="data">
        <div class="container">
            <h2>Datos de la oferta</h2>

            <div class="row">
                <div>
                    <p><strong>Empresa:</strong> Piscina municipal Las Cumbres</p>
                    <p><strong>Dirección:</strong> C. Rio Duero, 1</p>
                    <p><strong>Horario:</strong> 8:30-20:30</p>
                    <p><strong>Fecha de inicio:</strong> 01/03/2024</p>
                    <p><strong>Salario:</strong> 1100€</p>
                </div>
                
                <div>
                    <a href="pool.html">   <img id="img-pool" src="https://lh3.googleusercontent.com/p/AF1QipMXXW-IjqZkpx8EfwA_Nw_ALJQZfMAWdjhnT4Xh=s1360-w1360-h1020-rw" alt="Imagen de la oferta"> </a>
                  
                </div>
                
                <div>
                    <p><strong>Descripción:</strong> ¡Únete a nuestro equipo como socorrista de piscina! Estamos buscando a un profesional comprometido y capacitado para garantizar la seguridad de nuestros clientes en el área de la piscina. Responsabilidades incluyen la supervisión constante, la capacidad de respuesta rápida ante emergencias y la aplicación de protocolos de salvamento. Si posees certificación de socorrista, habilidades de comunicación efectivas y un enfoque proactivo para mantener un entorno acuático seguro, ¡esperamos recibir tu solicitud!</p>
                </div>
                

            </div>

            <div class="btn-cont">
                <a href="newOffer.html" class="btn" role="button"><i class="bi bi-pencil"></i> Editar</a>
                <a href="index.html" class="btn btn-red" role="button"><i class="bi bi-trash"></i> Eliminar</a>
                <a href="index.html" class="btn" role="button"><i class="bi bi-box-arrow-left"></i> Volver</a>
            </div>
        </div> 
    </div>
</body>

</html>