{{#lifeguards}}
<div class="commentContainer" id="offer-{{id}}">
    <div class="lifeguard"> <a href="/profile?type=0&mail={{mail}}">{{mail}}:</a> </div>
    {{#employer}}
    <form role="form" action='/offer/offered/set?lg={{mail}}' method="post">
        <div class="btn-cont">
            <button type="submit" class="btn btn-blue "><i class="bi bi-check"></i></button>
        </div>
        <input type ="hidden" name="_csrf" value="{{token}}"/>
        <input type ="hidden" name="id" value="{{id}}"/>
    </form>
    {{/employer}}

</div>
{{/lifeguards}}
{{^lifeguards}}
<div class="commentContainer">
    <div class="msgPool"> No hay ofertas </div>
</div>
{{/lifeguards}}