{{#messages}}
<div class="commentContainer">
    <div class="msgAuthor"> <a href="/profile?type=0&mail={{author}}">{{author}}:</a> </div>
    <div class="msgPool"> {{body}} </div>
    {{#admin}}
    <div class="btn-cont">
        <button class="btn btn-red" onclick="deleteMsg('{{poolId}}', '{{-index}}'-1)">
            <i class="bi bi-trash"></i>
        </button>
    </div>
    {{/admin}}
    <input type ="hidden" name="_csrf" value="{{token}}"/>

</div>
{{/messages}}
{{^messages}}
<div class="commentContainer">
    <div class="msgPool"> No hay comentarios </div>
</div>
{{/messages}}