<!DOCTYPE html>
<html>

<head>
    <title>Ficha de {{user.name}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka|Yanone+Kaffeesatz" rel="stylesheet" type="text/css">

    <link type="text/css" rel="stylesheet" href="/css/general.css" />
    <link type="text/css" rel="stylesheet" href="/css/pp.css" />
</head>

<body>
    {{> header}}

    <div class="data">
        <div class="container">
            {{#user}}
            <h2>{{name}} {{surname}}</h2>
            <div class="row">
                <div class="col-md-6 col-xs-4">

                    {{#image}}
                    <img src="/user/{{id}}/image">
                    {{/image}}
              
                    {{^image}}
                    <img src="/images/noPhotoUser.jpg">
                    {{/image}}
        
                </div>

                <div class="col-md-6">
                    <p><strong>E-Mail:</strong> {{mail}}</p>
                    <p><strong>DNI:</strong> {{dni}}</p>
                    <p><strong>Edad:</strong> {{age}}</p>
                    <p><strong>Teléfono:</strong> {{phone}}</p>
                    <p><strong>País:</strong> {{country}}</p>
                    <p><strong>Localidad:</strong> {{locality}}</p>
                    <p><strong>Provincia:</strong> {{province}}</p>
                    <p><strong>Dirección:</strong> {{direction}}</p>

                    {{#document}}
                    <p><strong>Título de socorrismo</strong> {{document}}</p>
                    {{/document}}
                    {{#company}}
                    <p><strong>Empresa:</strong> {{company}}</p>
                    {{/company}}

                    <p><strong>Descripción:</strong> {{description}}</p>

                    <!--<p><strong>Titulación:</strong> Técnico superior por la UPM</p>-->
                </div>
            </div>

                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <div class="btn-cont">
                        {{#me}}
                        <a href="/user/edit?id={{id}}" class="btn" role="button"><i class="bi bi-pencil"></i> Editar</a>

                        <input type="submit" class="btn btn-red" value="Cerrar sesión"/>
                        {{/me}}


                        <a href="javascript:history.back()" class="btn" role="button"><i class="bi bi-box-arrow-left"></i> Volver</a>
                    </div>
                </form>

                {{#admin}}
                <form role="form" action='/profile/delete?id={{id}}' method="post">
                    <div class="btn-cont">
                        <button type="submit" class="btn btn-red "><i class="bi bi-trash"></i></button>
                    </div>
                    <input type ="hidden" name="_csrf" value="{{token}}"/>
                    <input type ="hidden" name="id" value="{{id}}"/>
                    <input type ="hidden" name="mail" value="{{mail}}"/>
                </form>
                {{/admin}}
                
        </div>
        {{#lifeguard}}
        <div class="container">
            <h3>Aptitudes</h3>
            <div class="skillsContainer">
                <ul>
                    {{#skills}}
                    <li>{{.}}</li>
                    {{/skills}}
                </ul>
            </div>
        </div>
        {{/lifeguard}}
        {{#employer}}
        <div class="container">
            <h3>Ofertas</h3>
            <div class="skillsContainer">
                <ul>
                    {{#offers}}
                    <li><a href="offer?id={{id}}">Piscina: {{pool.name}} - Salario: {{salary}} - Inicio:{{start}}</a></li>
                    {{/offers}}
                </ul>
            </div>
        </div>
        {{/employer}}
        {{/user}}
    </div>
</body>

</html>