<main class="container">
    <div class="top-container">
        <div class="left-cont">
        </div>

        <h2>Mapa de ofertas</h2>

        <div class="right-cont">
            <a class="btn" [routerLink]="['/offers']">
                <i class="bi bi-grid-fill"></i><tool-tip>Ofertas</tool-tip>
            </a>
        </div>
    </div>

    <div style="width: 100%; height: 750px;">
        <google-map width="100%" height="100%" [zoom]="mapZoom" [center]="mapCenter" [options]="mapOptions">
            <div *ngFor="let coord of coords">
                <map-marker [position]="coord" [options]="markerOptions" (mapClick)="openInfoWindow(marker)"></map-marker>
                <map-info-window>{{ markerInfoContent }}</map-info-window>
            </div>
            <map-marker #marker="mapMarker" [position]="mapCenter" [options]="markerOptions"
                (mapClick)="openInfoWindow(marker)">
            </map-marker>
            <map-info-window>{{ markerInfoContent }}</map-info-window>
        </google-map>
    </div>

</main>