<!DOCTYPE html>
<html>

<head>
    <title>Formulario nuevos jugadores</title>

    {{> config}}

    <link type="text/css" rel="stylesheet" href="/css/form.css" />
</head>

<body>
    {{> header}}

    <div class="container">
        <h2>Nueva Oferta</h2>

        <form role="form" action="/offer/add" method="post">
            <div class="form-group">
                <label for="direction">Dirección</label>
                <input type="text" class="form-control" name="direction" placeholder="Móstoles, C/Velázquez 2">
            </div>

            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea type="text" class="form-control" name="description" placeholder="Detalles relevantes de la oferta"></textarea>
            </div>

            <div class="row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="type">Tipo de jornada</label>
                    <select class="form-select" name="type">
                        <option value="Puntual" selected>Puntual</option>
                        <option value="Media jornada">Media jornada</option>
                        <option value="Jornada completa">Jornada completa</option>
                        <option value="Fines de semana">Fines de semana</option>
                        <option value="Correturnos">Correturnos</option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="start">Fecha de inicio</label>
                    <input type="date" class="form-control text-uppercase" name="start">
                </div>
            </div>

            <div class="form-group">
                <label for="salary">Salario</label>
                <input type="range" class="form-range" name="salary" value="1200" min="60" max="5000" step="60" oninput="this.nextElementSibling.value = this.value">
                <output for="price" id="outrange">1200</output>€
            </div>

            <div class="form-group">
                <label for="pool-id">Piscina</label>
                <select class="form-select" name="pool-id" id="pool-id" required>
                    <option value="0" selected hidden>Seleccione una de sus piscinas</option>
                    {{#pools}}
                    <option value="{{id}}">{{name}}</option>
                    {{/pools}}
                    {{^pools}}
                    <option value="0" disabled>No hay piscinas disponibles</option>
                    {{/pools}}
                </select>
            </div>

            <div class="btn-cont">
                <button type="submit" class="btn"><i class="bi bi-download"></i> Guardar</button>
                <a href="/" class="btn btn-red" role="button"><i class="bi bi-x-lg"></i> Cancelar</a>
            </div>
            <input type ="hidden" name="_csrf" value="{{token}}"/>
        </form>
    </div>
</body>

</html>