{{#lifeguards}}
<div class="subcontainer message" id="{{offer.id}}">
    <data>
        <a class="author" href="/profile?mail={{mail}}">{{mail}}:</a>
        <p class="body"> {{description}} </p>
    </data>
    {{^offerAssigned}}
    <div class="btn-cont">
        <form role="form" action='/offer/offered/set' method="post">
            <input type ="hidden" name="_csrf" value="{{token}}"/>
            <input type ="hidden" name="lg" value="{{mail}}"/>
            <input type ="hidden" name="ido" value="{{offer.id}}"/>
            <button type="submit" class="btn"><i class="bi bi-person-add"></i></button>
        </form>
    </div>
    {{/offerAssigned}}

    {{#offerAssigned}}
    <div class="btn-cont">
    <form role="form" action='/offer/offered/delete' method="post">
            <button type="submit" class="btn btn-red "><i class="bi bi-person-dash"></i></button>
            <input type ="hidden" name="_csrf" value="{{token}}"/>
            <input type ="hidden" name="lg" value="{{mail}}"/>
            <input type ="hidden" name="ido" value="{{offer.id}}"/>
        </form>
    </div>
    {{/offerAssigned}}
</div>
{{/lifeguards}}
{{^lifeguards}}
<div class="subcontainer message">
    <div class="message">No hay propuestas </div>
</div>
{{/lifeguards}}