<!DOCTYPE html>
<html>

<head>
    <title>Oferta de trabajo</title>

    {{> config}}

    <link type="text/css" rel="stylesheet" href="/css/data.css" />
    <link type="text/css" rel="stylesheet" href="/css/messages.css" />

    <script src="/js/poolMessages.js"></script>
</head>

<body>
    {{> header}}

    <div class="container">
        {{#offer}}
        <h2>Oferta en <a href="/pool?id={{pool.id}}">{{pool.name}}</a></h2>

        <div class="row">
            <a class="col-lg-6 col-img" href="/pool?id={{pool.id}}">
                <img id="img-pool" src="/pool/{{pool.id}}/image" alt="{{pool.direction}}">
            </a>
            <div class="col-lg-6 col-data">
                <p><strong>Dirección:</strong> {{pool.direction}}</p>
                <p><strong>Empleador:</strong> {{employer.mail}}</p>
                <p><strong>Tipo de contrato:</strong> {{type}}</p>
                <p><strong>Fecha de inicio:</strong> {{start}}</p>
                <p><strong>Salario:</strong> {{salary}}€</p>
                <p><strong>Descripción:</strong> {{description}}</p>
            </div>
        </div>
        {{/offer}}

        <div class="btn-cont">
            {{#lifeguard}}
            <form role="form" action='/offer/offered/new' method="post">
                <input type ="hidden" name="id" value="{{offer.id}}"/>
                <input type ="hidden" name="_csrf" value="{{token}}"/>
                <button type = "submit" class="btn" >
                    <i class="bi bi-bookmark-fill"> Proponerse</i>
                </button>
            </form>
            {{/lifeguard}}
            {{#canEdit}}
            <button class="btn" onclick="showOffered('{{offer.id}}')" id="showButton">Ver propuestas</button>
            {{/canEdit}}
            {{#admin}}
            <form role="form" action='/offer/delete' method="post">
                <input type="hidden" name="id" value="{{offer.id}}"/>
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <button type="submit" class="btn btn-red" >
                    <i class="bi bi-trash"> Eliminar</i>
                </button>
            </form>
            {{/admin}}
            <a href="/" class="btn" role="button"><i class="bi bi-box-arrow-left"></i> Volver</a>
        </div>

        <div id="messageContainer"></div>
    </div>
</body>

</html>