<!DOCTYPE html>
<html>

<head>
    <title>PieChart</title>

    {{> config}}
</head>

<body>
    {{> header}}

    <main class="container">
        <div class="top-container">
            <div class="left-cont">
            </div>

            <h2>Estadísticas de los usuarios</h2>

            <div class="right-cont">
                <a class="btn" href="/">
                    <i class="bi bi-map-fill"></i><tool-tip>Mapa</tool-tip>
                </a>
            </div>
        </div>

        <div id="piechart" style="width: 900px; height: 500px; margin: auto"></div>
        <div onload="setTrust('{{trust}}')"></div>
    </main>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <input type="hidden" id="trust" value="{{trust}}" />
    <input type="hidden" id="attitude" value="{{attitude}}" />
    <input type="hidden" id="effort" value="{{effort}}" />
    <input type="hidden" id="comunication" value="{{comunication}}" />
    <input type="hidden" id="resolution" value="{{resolution}}" />
    <input type="hidden" id="leadership" value="{{leadership}}" />


    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Aptitudes', 'Cantidad'],
                ['Confianza', parseInt(document.getElementById("trust").value)],
                ['Actitud Positiva', parseInt(document.getElementById("attitude").value)],
                ['Esfuerzo', parseInt(document.getElementById("effort").value)],
                ['Resolución de problemas', parseInt(document.getElementById("resolution").value)],
                ['Liderazgo', parseInt(document.getElementById("leadership").value)],
                ['Comunicación', parseInt(document.getElementById("comunication").value)]
            ]);

            var options = {
                title: 'Aptitudes de los socorristas',
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>

</body>

</html>