<!DOCTYPE html>
<html>

<head>
    <title>Ficha de {{user.name}}</title>

    {{> config}}

    <link type="text/css" rel="stylesheet" href="/css/data.css" />
</head>

<body>
    {{> header}}

    {{#user}}
    <div class="data">
        <main class="container container-main">
            <h2>{{name}} {{surname}}</h2>
            <div class="row">
                <div class="col-md-4">
                    {{#photo}}
                    <img id="img-user" src="/user/{{id}}/image">
                    {{/photo}}
                    {{^photo}}
                    <img id="img-user" src="/images/noPhotoUser.jpg">
                    {{/photo}}
                </div>

                <div class="col-md-8">
                    <p><strong>E-Mail:</strong> {{mail}}</p>
                    <p><strong>DNI:</strong> {{dni}}</p>
                    <p><strong>Edad:</strong> {{age}}</p>
                    <p><strong>Teléfono:</strong> {{phone}}</p>
                    <p><strong>Dirección:</strong> {{direction}}</p>
                    <p><strong>Localidad:</strong> {{locality}} ({{province}}, {{country}})</p>

                    {{#document}}
                    <p><strong>Título de socorrismo</strong> {{document}}</p>
                    {{/document}}
                    {{#company}}
                    <p><strong>Empresa:</strong> {{company}}</p>
                    {{/company}}

                    <p><strong>Descripción:</strong> {{description}}</p>

                </div>
            </div>

            {{#lifeguard}}
            <div class="subcontainer">
                <h3>Aptitudes</h3>
                <ul>
                    {{#skills}}
                    <li>{{.}}</li>
                    {{/skills}}
                    {{^skills}}
                    <li>No hay aptitudes</li>
                    {{/skills}}
                </ul>
            </div>
            {{/lifeguard}}

            <div class="btn-cont">
                {{#me}}
                <a href="/user/{{mail}}/edit" class="btn" role="button"><i class="bi bi-pencil"></i> Editar</a>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <input type="submit" class="btn btn-red" value="Cerrar sesión"/>
                </form>
                {{/me}}
                {{#iamAdmin}}
                {{^me}}
                <a href="/user/{{mail}}/edit" class="btn" role="button"><i class="bi bi-pencil"></i> Editar</a>
                <form role="form" action='/profile/delete?id={{id}}' method="post">
                    <button type="submit" class="btn btn-red "><i class="bi bi-trash"></i></button>
                    <input type ="hidden" name="_csrf" value="{{token}}"/>
                    <input type ="hidden" name="id" value="{{id}}"/>
                    <input type ="hidden" name="mail" value="{{mail}}"/>
                </form>
                {{/me}}
                {{/iamAdmin}}
                <a href="/" class="btn" role="button"><i class="bi bi-box-arrow-left"></i> Volver</a>
            </div>
        </main>

        <div class="container container-additional">
            {{#lifeguard}}
            <h3>Ofertas aplicadas</h3>
            {{/lifeguard}}
            {{#employer}}
            <h3>Ofertas publicadas</h3>
            {{/employer}}

            {{#canSeeOffers}}
            <div class="subcontainer">
                <ul>
                    {{#offers}}
                    <li><a href="offer?id={{id}}">Piscina: {{pool.name}} - Salario: {{salary}} - Inicio:{{start}}</a></li>
                    {{/offers}}
                    {{^offers}}
                    <li>No has creado ninguna oferta</li>
                    {{/offers}}
                </ul>
            </div>
            {{/canSeeOffers}}
            {{^canSeeOffers}}
            <p style="text-align: center;">No puedes ver las candidaturas de otro usuario</p>
            {{/canSeeOffers}}
        </div>
    </div>
    {{/user}}
</body>

</html>