<!DOCTYPE html>
<html>

<head>
    <title>Ofertas</title>

    {{> config}}

    <link type="text/css" rel="stylesheet" href="/css/cards.css" />

    <script src="/js/cards.js"></script>
</head>

<body>
    {{> header}}

    <main class="container">
        <div class="top-container">
            <div class="left-cont">
            </div>

            <h2>{{title}}</h2>

            <div class="right-cont">
                <a class="btn" href="/users/change">
                    <i class="bi bi-people-fill"></i><tool-tip>{{alternative}}</tool-tip>
                </a>
            </div>
        </div>

        <section class="cards" id="{{type}}"></section>

        <div class="btn-cont" id="load">
            <button class="btn" onclick='load()'>
                <i class="bi bi-chevron-double-down"></i> Cargar más
            </button>
        </div>
    </main>

    <div class="btn-cont bottom-right-button">
        <a href="/user/form" class="btn" role="btn">
            <i class="bi bi-plus-circle"></i><tool-tip style="top: auto; bottom: 100%;">Añadir usuario</tool-tip>
        </a>
    </div>

</body>

</html>