<div class="data">
    <main class="container container-main">
        <!--<ng-container *ngIf="user">-->
            <h2>{{user.name}} {{user.surname}}</h2>
            <div class="row">
                <div class="col-md-4">
                    <!--<img id="img-user" [src]="user.photo ? '/user/' + user.id + '/image' : '/images/noPhotoUser.jpg'" />-->
                </div>

                <div class="col-md-8">
                    <p><strong>E-Mail:</strong> {{user.mail}}</p>
                    <p><strong>DNI:</strong> {{user.dni}}</p>
                    <p><strong>Edad:</strong> {{user.age}}</p>
                    <p><strong>Teléfono:</strong> {{user.phone}}</p>
                    <p><strong>Dirección:</strong> {{user.direction}}</p>
                    <p><strong>Localidad:</strong> {{user.locality}} ({{user.province}}, {{user.country}})</p>

                    <ng-container *ngIf="typeUser==='lifeguard'">
                        <p><strong>Título de socorrismo</strong> {{lifeguard.document}}</p>
                    </ng-container>
                    <ng-container *ngIf="typeUser==='employer'">
                        <p><strong>Empresa:</strong> {{employer.company}}</p>
                    </ng-container>

                    <p><strong>Descripción:</strong> {{user.description}}</p>

                </div>
                <ng-container *ngIf="typeUser==='lifeguard'">
                    <div class="subcontainer">
                        <h3>Aptitudes</h3>
                        <ul>
                            <ng-container *ngFor="let skill of lifeguard.skills">
                                <li>{{skill}}</li>
                            </ng-container>
                            <li *ngIf="!lifeguard.skills">No hay aptitudes</li>
                        </ul>
                    </div>
                </ng-container>
            </div>
            <div class="btn-cont">
                <!--<ng-container *ngIf="me">-->
                        <a [routerLink]="editUser" class="btn" role="button"><i class="bi bi-pencil"></i> Editar</a>
                        <input type="submit" (click)="logout()" class="btn btn-red" value="Cerrar sesión" />
                <!--</ng-container>-->
                <a href="javascript:history.back()" class="btn" role="button"><i class="bi bi-box-arrow-left"></i> Volver</a>
            </div>

            <ng-container *ngIf="admin">
                <form role="form" [action]="'/profile/delete?id=' + user.id" method="post">
                    <div class="btn-cont">
                        <button type="submit" class="btn btn-red "><i class="bi bi-trash"></i></button>
                    </div>
                    <input type="hidden" name="id" value="{{user.id}}" />
                    <input type="hidden" name="mail" value="{{user.mail}}" />
                </form>
            </ng-container>
        <!--</ng-container>-->
    </main>
    <ng-container *ngIf="user && typeUser==='lifeguard'">
        <div class="container container-additional">
            <h3>Ofertas aplicadas</h3>
            <div class="subcontainer">
                <ul>
                    <!--<ng-container *ngFor="let offer of user.lifeguard.offersLifeguard">
                        <li><a [routerLink]="'offer?id=' + offer.id">Piscina: {{offer.pool.name}} - Salario: {{offer.salary}} - Inicio: {{offer.start}}</a></li>
                    </ng-container>-->
                    <li *ngIf="!lifeguard.offers">No hay candidaturas</li>
                </ul>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="user && typeUser==='employer'">
        <div class="container container-additional">
            <h3>Ofertas publicadas</h3>
            <div class="subcontainer">
                <ul>
                    <!--<ng-container *ngFor="let offer of user.employer.offers">
                        <li><a [routerLink]="'offer?id=' + offer.id">Piscina: {{offer.pool.name}} - Salario: {{offer.salary}} - Inicio: {{offer.start}}</a></li>
                    </ng-container>-->
                    <li *ngIf="!employer.offers">No has creado ninguna oferta</li>
                </ul>
            </div>
        </div>
    </ng-container>
</div>