<div class="container">
    <div *ngIf="!edit">
        <h2>Nuevo usuario</h2>
    </div>
    <div *ngIf="edit">
        <h2>Editar {{user.name}}</h2>
    </div>
    <!--{{^edit}}
    <form role="form" action="/user/register" method="post" enctype="multipart/form-data">
    {{/edit}}-->

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" placeholder="Introduzca su nombre" [(ngModel)]="user.name">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="surname">Apellidos</label>
            <input type="text" class="form-control" name="surname" placeholder="Introduzca sus apellidos" [(ngModel)]="user.surname">
        </div>
    </div>

    <div class="form-group">
        <label for="description">Descripción</label>
        <textarea class="form-control" name="description" placeholder="Datos personales y profesionales de interés" [(ngModel)]="user.description"></textarea>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="dni">DNI</label>
            <input type="text" class="form-control" name="dni" placeholder="DNI/NIE" [(ngModel)]="user.dni">
        </div>
        <div class="form-group col-md-6">
            <label for="age">Edad</label>
            <input type="number" class="form-control" name="age" placeholder="Introduzca su edad" [(ngModel)]="user.age" (input)="checkAge()">
            <div id="ageContent" style="color:red"></div>
        </div>
    </div>

    <div *ngIf="!edit">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="mail">Correo electrónico*</label>
                <input type="email" class="form-control" name="mail" placeholder="example@gmail.com" required [(ngModel)]="user.mail" (input)="checkMail()">
                <div id="mailContent"></div>
            </div>
            <div class="form-group col-md-6">
                <label for="pass">Contraseña*</label>
                <input type="password" class="form-control" name="pass" placeholder="Introduzca su contraseña" required [(ngModel)]="user.pass" (input)="checkPassword()">
                <div id="passContent"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            <label for="phone">Teléfono de contacto</label>
            <input type="tel" class="form-control" name="phone" placeholder="Introduzca su número de teléfono" [(ngModel)]="user.phone" (input)="checkPhone()">
            <div id="phoneContent" style="color:red"></div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="country">País</label>
            <input type="text" class="form-control" name="country" placeholder="Introduzca su país" [(ngModel)]="user.country">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            <label for="locality">Localidad</label>
            <input type="text" class="form-control" name="locality" placeholder="Introduzca su localidad" [(ngModel)]="user.locality">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="province">Provincia</label>
            <input type="text" class="form-control" name="province" placeholder="Introduzca su provincia" [(ngModel)]="user.province">
        </div>
    </div>

    <div *ngIf="edit">
        <div class="row">
            <div class="form-group col-md-12">
                <label for="direction">Calle</label>
                <input type="text" class="form-control" name="direction" placeholder="Introduzca su calle" [(ngModel)]="user.direction">
            </div>
        </div>
    </div>
    <div *ngIf="!edit">
        <div class="row">
            <div class="form-group col-md-8">
                <label for="direction">Calle</label>
                <input type="text" class="form-control" name="direction" placeholder="Introduzca su calle" [(ngModel)]="user.direction">
            </div>
            <div class="form-group col-md-4">
                <label for="typeUser">Tipo de usuario*</label>
                <select class="form-select" name="typeUser" required [(ngModel)]="typeUser" (change)="showForm()">
                    <option value="" disabled selected hidden>Elegir tipo de usuario</option>
                    <option value="lifeguard">Socorrista</option>
                    <option value="employer">Empleador</option>
                </select>
            </div>
        </div>
    </div>
 
    <div class="form-group">
        <label for="photoField">Foto de perfil</label>
        <input #file type='file' name='imageFile' class="form-control" accept=".jpg, .jpeg" />
        <!--<input type="file" class="form-control" name="photoField" accept=".jpeg, .png" [(ngModel)]="lifeguard.photo">-->
    </div>

    <!-- Lifeguard -->
    <div class="form-group" id="lifeguard1" *ngIf="typeUser === 'lifeguard'">
        <label for="document">Titulación</label>
        <input type="text" class="form-control" name="document" placeholder="Se requerirá el día de la firma del contrato" [(ngModel)]="lifeguard.document">
    </div>

    <div class="subcontainer skills-container" id="lifeguard2" *ngIf="typeUser === 'lifeguard'">
        <h3>Mis Aptitudes</h3>
        <div class="row">
            <div class="form-group col-md-4">
                <input type="checkbox" name="reliability" id="reliability" [(ngModel)]="reliability">
                <label for="reliability">Confianza</label>
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="effort" id="effort" [(ngModel)]="effort">
                <label for="effort">Esfuerzo</label>
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="communication" id="communication" [(ngModel)]="communication">
                <label for="communication">Comunicación</label>
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="attitude" id="attitude" [(ngModel)]="attitude">
                <label for="attitude">Actitud positiva</label>
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="problemsResolution" id="problemsResolution" [(ngModel)]="problemsResolution">
                <label for="problemsResolution">Resolución de problemas</label>
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" name="leadership" id="leadership" [(ngModel)]="leadership">
                <label for="leadership">Liderazgo</label>
            </div>
        </div>
    </div>

    <!-- Employer -->
    <div class="form-group" id="employer1" *ngIf="typeUser === 'employer'">
        <label for="company">Empresa</label>
        <input type="text" class="form-control" name="company" placeholder="Introduzca su posición en la empresa" [(ngModel)]="employer.company">
    </div>

    <!-- Buttons -->
    <div class="btn-cont">
        <button type="submit" (click)="save()" class="btn"><i class="bi bi-download"></i> Guardar</button>
        <a routerLink="/login" class="btn btn-red" role="button"><i class="bi bi-x-lg"></i> Cancelar</a>
    </div>
</div>
