<div class="dropdown" style="color: inherit; text-decoration: none">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownButton" data-toggle="dropdown">
        <i class="bi bi-list"></i>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" [routerLink]="['offers']"><i class="bi bi-card-text"></i> Ofertas</a></li>
        <li><a class="dropdown-item" [routerLink]="['pools']"><i class="bi bi-water"></i> Piscinas</a></li>
        <li><a class="dropdown-item" [routerLink]="['piechart']"><i class="bi bi-bar-chart-fill"></i> Estadísticas</a></li>
    </ul>
</div>

<a [routerLink]="['/']" style="color: inherit; text-decoration: none">
    <img id="header-img" src="/assets/images/h2oslogo.png" alt="Logo H2OS">
    <h1>H20S</h1>
</a>

<a [routerLink]="[loginOrProfile]" style="color: inherit; text-decoration: none">
    <i class="bi bi-person-fill"></i>
</a>