<main class="container">
    <div class="top-container">
        <div class="left-cont">
        </div>

        <h2>Distribución de aptitudes</h2>

        <div class="right-cont">
            <a class="btn" [routerLink]="['/']">
                <i class="bi bi-map-fill"></i>
            </a>
        </div>
    </div>
    <section>
        <google-chart 
            [data]="data"
            [title]="title"
            [width]="width" 
            [height]="height"
            [type] = "type">
        </google-chart>
    </section>
</main>