<!DOCTYPE html>
<html>

<head>
    <title>Oferta de trabajo</title>


    <link type="text/css" rel="stylesheet" href="/css/data.css" />
    <link type="text/css" rel="stylesheet" href="/css/messages.css" />

    <script src="/js/poolMessages.js"></script>
</head>

<body>

    <div class="container">
        <h2>Oferta en <a href="/pool?id={{pool.id}}">{{pool.name}}</a></h2>

        <div class="row">
            <a class="col-lg-6 col-img" href="/pool?id={{pool.id}}">
                <div *ngIf="hasPhoto">
                    <img id="img-user" src="/pool/{{pool.id}}/image" >

                </div>
                <div *ngIf="!hasPhoto">
                        <img id="img-pool" src="{{pool.photo}}" >
                </div>
            </a>
            <div class="col-lg-6 col-data">
                <p><strong>Dirección:</strong> {{pool.direction}}</p>
                <p><strong>Empleador:</strong> {{offer.employer.mail}}</p>
                <p><strong>Tipo de contrato:</strong> {{offer.type}}</p>
                <p><strong>Fecha de inicio:</strong> {{offer.start}}</p>
                <p><strong>Salario:</strong> {{offer.salary}}€</p>
                <p><strong>Descripción:</strong> {{offer.description}}</p>
            </div>
        </div>

        <div class="btn-cont">
            <div *ngIf="canApply">
                <form role="form" action='/offer/offered/new' method="post">
                    <input type ="hidden" name="id" value="{{offer.id}}"/>
                    <button type = "submit" class="btn" >
                        <i class="bi bi-bookmark-fill"> Proponerse</i>
                    </button>
                </form>
            </div>
            <div *ngIf="edit">
                <button class="btn" (click)="showApplyed()" id="showButton">Ver propuestas</button>
            </div>
            <div *ngIf="edit">
                <input type="hidden" name="id" value="{{offer.id}}"/>
                <button class="btn btn-red" (click)="deleteOffer()">
                    <i class="bi bi-trash"> Eliminar</i>
                </button>
        </div>
                    <a href="/" class="btn" role="button"><i class="bi bi-box-arrow-left"></i> Volver</a>
        </div>

        <div id="messageContainer"></div>
    </div>
</body>

</html>