<div class="container">
    <h2>Oferta en <a href="/pool?id={{poolID}}">{{poolName}}</a></h2>

    <div class="row">
        <a class="col-lg-6 col-img" href="/pool?id={{poolID}}">
            <img [src]="photoURL" alt="Photo" style="width: 100%; height: auto;">
        </a>
        <div class="col-lg-6 col-data">
            <p><strong>Dirección:</strong> {{poolName}}</p>
            <p><strong>Empleador:</strong> {{offer.employer}}</p>
            <p><strong>Tipo de contrato:</strong> {{offer.type}}</p>
            <p><strong>Fecha de inicio:</strong> {{offer.start}}</p>
            <p><strong>Salario:</strong> {{offer.salary}}€</p>
            <p><strong>Descripción:</strong> {{offer.description}}</p>
        </div>
    </div>

    <div class="btn-cont">
        <div *ngIf="canApply">
            <form role="form" action='/offer/offered/new' method="post">
                <input type="hidden" name="id" value="{{offer.id}}" />
                <button class="btn" (click)="apply(offer.id)" id="applyButton">
                    <i class="bi bi-bookmark-fill"> Proponerse</i>
                </button>
            </form>
        </div>

        <div *ngIf="edit">
            <input type="hidden" name="id" value="{{offer.id}}" />
            <button class="btn" (click)="showApplied(offer.id)" id="showButton">Ver propuestas</button>
            <button class="btn btn-blue" [routerLink]="['edit']">
                <i class="bi bi-pencil"> </i>Editar
            </button>
            <button class="btn btn-red" (click)="deleteOffer(offer.id)">
                <i class="bi bi-trash"> Eliminar</i>
            </button>
        </div>

        <a href="/" class="btn" role="button"><i class="bi bi-box-arrow-left"></i> Volver</a>
    </div>

    <div id="messageContainer">
        <div *ngIf="applied && appliedLg.length !== 0" class="subcontainer message" id="{{offer.id}}">
            <div *ngFor="let lifeguard of appliedLg; let i = index">
                <data>
                    <a class="author" href="/profile?type=0&mail={{lifeguard}}">{{lifeguard}}:</a>
                    <p class="body"> {{appliedLgDesc[i]}} </p>
                </data>
                <div *ngIf="lifeguard!==selected;" class="btn-cont">
                    <button class="btn" (click)="setLifeguard(offer.id,i)"><i class="bi bi-person-add"></i></button>
                </div>
                <div *ngIf="lifeguard===selected;" class="btn-cont">
                    <button class="btn btn-red " (click)="unSelectLifeguard(offer.id)"><i class="bi bi-person-dash"></i></button>
                </div>
            </div>
        </div>
        <div *ngIf="applied && appliedLg.length === 0" class="subcontainer message" id="{{offer.id}}">
            <div class="message">No hay propuestas </div>
        </div>
    </div>
</div>