<div *ngIf = "lifeguards.length !== 0;" class="subcontainer message" id="{{offer.id}}">
    <div *ngFor="let lifeguard of lifeguards">
    <data>
        <a class="author" href="/profile?type=0&mail={{mail}}">{{mail}}:</a>
        <p class="body"> {{description}} </p>
    </data>
    <div *ngIf= "lifeguard!==selected;">

        <div class="btn-cont">
            <form role="form" action='/offer/offered/set' method="post">
                <input type ="hidden" name="_csrf" value="{{token}}"/>
                <input type ="hidden" name="lg" value="{{lifeguard}}"/>
                <input type ="hidden" name="ido" value="{{offer.id}}"/>
                <button type="submit" class="btn"><i class="bi bi-person-add"></i></button>
            </form>
        </div>
    </div>

    <div *ngIf= "lifeguard===selected;">
        <div class="btn-cont">
            <form role="form" action='/offer/offered/delete' method="post">
                <button type="submit" class="btn btn-red "><i class="bi bi-person-dash"></i></button>
                <input type ="hidden" name="lg" value="{{lifeguard}}"/>
                <input type ="hidden" name="ido" value="{{offer.id}}"/>
            </form>
        </div>
    </div>
    </div>
</div>
<div *ngIf = "lifeguards.length === 0;" class="subcontainer message">
    <div class="message">No hay propuestas </div>
</div>
