<main class="container">
    <div class="top-container">
        <h2>Ofertas de trabajo</h2>

        <a class="btn" [routerLink]="['/']">
            <i class="bi bi-map-fill"></i>
        </a>
    </div>

    <section class="cards" id="offers">
        <div *ngFor="let offer of offers">
            <a [routerLink]="['/offers', offer.id]">
                <img src={{offer.image}} >
                <p>{{offer.direction}}</p>
                <p>{{offer.salary}}€</p>
            </a>
        </div>
        <div *ngIf="offers.length === 0">
            <p>No hay ofertas</p>
        </div>
    </section>

    <div *ngIf="hasMore" class="btn-cont" id="load">
        <button class="btn" (click)="loadOffers()">
            <i class="bi bi-chevron-double-down"></i> Cargar más
        </button>
    </div>
</main>

<div *ngIf="canAdd" class="btn-cont bottom-right-button">
    <a [routerLink]="['new']" class="btn" role="btn"><i class="bi bi-plus-circle"></i></a>
</div>