ul {
    margin-bottom: 0;
}

.subcontainer.offer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
}

.subcontainer.offer p,
.subcontainer.offer .infoIcons {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 70%;
}

.infoIcons {
    flex:1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    word-wrap: break-all;
}

.infoIcons button {
    color: var(--main-color-dark);
    line-height: normal;  /* to prevent the button from stretching vertically */
    border: none;
    padding: 0;
}

.infoIcons .bi {
    font-size: 1.5em;
}

.infoIcons .bi-red:hover {
    color: var(--red);
}