.commentContainer {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: none;

    background-color: #e4e4e4;
    border: 1px solid #8b8b8bcc;
    border-radius: 5px;
    text-align: left;

    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.commentContainer .btn-cont {
    margin: 0;
    margin-left: 10px;
}

.commentContainer .btn {
    min-width: 40px;
}

.commentContainer input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

.newCommentContainer {
    background-color: rgb(206, 254, 255);
}

.msgAuthor a {
    text-decoration: none;
    margin-right: 5px;
    color: var(--main-color);
}

.msgPool {
    flex: 1; /* El mensaje ocupa todo el espacio disponible en el medio */
    text-align: left;
}

.containerProfileLeft {
    grid-column: 1 / 2;
}

.containerProfileRight {
    grid-column: 2 / 3;
}

.skillsContainer {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: none;

    background-color: rgb(197, 197, 197);
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: left;

    display: grid;
    gap: 10%;
    align-items: center;
}
