.commentContainer {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: none;

    background-color: #e4e4e4;
    border: 1px solid #8b8b8bcc;
    border-radius: 5px;
    text-align: left;

    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.commentContainer .btn-cont {
    margin: 0;
    margin-left: 10px;
}

.commentContainer .btn {
    min-width: 40px;
}

.commentContainer input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

.newCommentContainer {
    background-color: rgb(206, 254, 255);
}

.msgAuthor a {
    text-decoration: none;
    margin-right: 5px;
    color: var(--main-color-dark);
    font-weight: bold;
}

.msgAuthor a:hover{
    color: white;
}

.msgPool {
    flex: 1; /* The message takes up all the available space in the media */
    text-align: left;
}
