.container {
    max-width: 1200px;
}

.subcontainer {
    margin: 20px auto;
    padding: 20px;
    width: 80%;

    background-color: var(--subcontainer-color);
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: left;
    color: white;

    display: grid;
    gap: 10%;
    align-items: center;
}

.subcontainer h3 {
    margin-bottom: 0;
    color: var(--main-color-dark);
}

.row {
    display: flex;
    justify-content: space-between;
}

#img-pool {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

#img-user {
    width: 250px;
    max-width: 100%;
    margin-bottom: 20px;
}

h2 a {
    color: inherit;
    text-decoration: none;
    font: inherit;
}

h2 a:hover {
    color: var(--main-color-light);
}

@media screen and (min-width: 1690px){ /* (900 + 600 + 20) * 100 / 90 */
    .data {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: start;

        padding-left: 5%;
        padding-right: 5%;
        gap: 20px;
    }

    .container-main {
        flex: 3;
        min-width: 900px;
        margin-right: 0;
    }

    .container-additional {
        flex: 2;
        min-width: 600px;
        max-width: 800px;  /* 1200 * 2 / 3 */
        margin-left: 0;
    }
}