* {
        font-family: 'Kanit';
}

h1, h2, h3 {
        font-family: 'Vina Sans';
}

h1 {
        font-size: 45px;
}

h2 {
        font-size: 35px;
        margin-bottom: 20px;
}
h3{
        font-size: 30px;
        margin-bottom: 20px;
}
body {
        background-color: #f0f0f0;
}

p {
        text-align: justify;
        margin-right: 20px;
        margin-left: 20px;
}

header {
        display: flex;
        height: 100px;
        padding: 20px;

        background-color: rgb(0, 130, 254);
        align-items: center;
        gap: 20px;
        color: white;

        position: sticky;
        top: 0;
        z-index: 1;
}

#header-img {
        height: 75px;
        border: 2px solid rgb(0, 130, 254);
        border-radius: 5px;
}

.container {
        margin: 20px auto;
        padding: 20px;
        width: 80%;
        max-width: none;

        background-color: white;
        border: 1px solid #ccc;
        border-radius: 25px;
        text-align: center;
}

form {
        text-align: left;
        margin: 20px;
        margin-bottom: 0px;
}

.form-group label {
        margin-top: 15px;
        font-weight: bold;
        color: rgb(0, 130, 254);
}

.btn-cont {
        display: flex;
        justify-content: center;
}

.btn-cont > .btn {
        margin: 20px;
        padding: 5px;
        min-width: 110px;

        border: 4px solid;
        border-radius: 5px;

        background-color: rgb(0, 130, 254);
        border-color: rgb(0, 130, 254);
        border-top-color: rgb(50, 180, 214);
        border-left-color: rgb(50, 180, 214);

        transition: background-color 0.2s;

        text-decoration: none;
        color: white;
        font-size: 18px;
}

.btn-cont > .btn:hover {
        background-color: rgb(0, 116, 240);
        border-top-color: rgb(50, 180, 214);
        border-left-color: rgb(50, 180, 214);
        color: white;
}

.btn-cont > .btn:active {
        background-color: rgb(0, 130, 254);
        border-color: rgb(0, 130, 254);
        border-bottom-color: rgb(50, 180, 214);
        border-right-color: rgb(50, 180, 214);
        color: white;
}

.btn-cont > .btn-red {
        background-color: rgb(214, 12, 12);
        border-color: rgb(214, 12, 12);
        border-top-color: rgb(254, 62, 62);
        border-left-color: rgb(254, 62, 62);
}

.btn-cont > .btn-red:hover {
        background-color: rgb(202, 0, 0);
        border-top-color: rgb(254, 62, 62);
        border-left-color: rgb(254, 62, 62);
}

.btn-cont > .btn-red:active {
        background-color: rgb(214, 12, 12);
        border-color: rgb(214, 12, 12);
        border-bottom-color: rgb(254, 62, 62);
        border-right-color: rgb(254, 62, 62);
}

.bi-person-fill-add {
        font-size: 1.1em;
}