:root {
    --main-color: rgb(0, 130, 254);
    --main-color-light: rgb(50, 180, 214);
    --main-color-dark: rgb(0, 116, 240);
    --gradient: linear-gradient(160deg, var(--main-color-light), var(--main-color));
    --gradient-inverse: linear-gradient(340deg, var(--main-color-light), var(--main-color));

    --red: rgb(214, 12, 12);
    --red-light: rgb(254, 62, 62);
    --red-dark: rgb(202, 0, 0);
    --gradient-red: linear-gradient(160deg, var(--red-light), var(--red-dark));
    --gradient-red-inverse: linear-gradient(340deg, var(--red-light), var(--red-dark));

    --second-color: white;
    --third-color: #212529;
    --logo-color: rgb(255, 87, 0);

    --border-color: #ccc;
    --background-color: #f0f0f0;
    --subcontainer-color: #8ecbfd;
}

* {
    font-family: "Fredoka";
    font-size: 18px;
}

h1, h2, h3 {
    font-family: "Yanone Kaffeesatz";
    font-weight: bold;

    margin-bottom: 20px;
}

h1 {
    font-size: 45px;

    margin: 0px;
    margin-top: 7px; /*To compensate for the empty space in the font*/
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

body {
    background-color: var(--background-color);
}

p {
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
}

header {
    display: flex;
    height: 75px;
    padding: 20px;

    background: var(--gradient);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--second-color);

    position: sticky;
    top: 0;
    z-index: 1;
}

header a {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

#header-img {
    height: 50px;
}

.container {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: none;

    background-color: var(--second-color);
    border: 1px solid var(--border-color);
    border-radius: 25px;
    text-align: center;
}

form {
    text-align: left;
    margin: 20px;
    margin-bottom: 0px;
}

.form-group label {
    margin-top: 15px;
    font-weight: bold;
    color: var(--main-color);
}

.btn-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 15px;
}

.btn-cont > .btn {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    min-width: 110px;

    border: 4px solid;
    border-radius: 5px;

    background-image: var(--gradient);
    border-color: var(--main-color);
    border-top-color: var(--main-color-light);
    border-left-color: var(--main-color-light);

    transition: background-image 0.2s;

    text-decoration: none;
    color: white;
    font-size: 18px;
}

.btn-cont > .btn:hover {
    background-image: var(--gradient-inverse);
    border-top-color: var(--main-color-light);
    border-left-color: var(--main-color-light);
    color: white;
}

.btn-cont > .btn:active {
    border-color: var(--main-color);
    border-bottom-color: var(--main-color-light);
    border-right-color: var(--main-color-light);
    color: white;
}

.btn-cont > .btn-red {
    background-image: var(--gradient-red);
    border-color: var(--red);
    border-top-color: var(--red-light);
    border-left-color: var(--red-light);
}

.btn-cont > .btn-red:hover {
    background-image: var(--gradient-red-inverse);
    border-top-color: var(--red-light);
    border-left-color: var(--red-light);
}

.btn-cont > .btn-red:active {
    border-color: var(--red);
    border-bottom-color: var(--red-light);
    border-right-color: var(--red-light);
}

.bi-person-fill {
    font-size: 2em;
}

.top-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.top-container .btn {
    background-color: var(--second-color);
    color: var(--third-color);
    border: transparent;

    height: 49px;
    display: flex;
    align-items: center;
}

.top-container .btn:hover{
    background-color: var(--main-color);
    color: var(--second-color);
}

.top-container .btn:active{
    background-color: var(--main-color);
    color: var(--third-color);
}

.top-container .bi {
    font-size: 1.25em;  /* width = 49px */
}

.top-container h2 {
    text-align: center;
    flex-grow: 1;
    margin: 0 10px;
    margin-left: 59px;  /* (10 + 49) */
}
