.form-range::-webkit-slider-runnable-track {
    background-color: #f0f0f0f0;
}

.form-range::-webkit-slider-thumb{
    background-color: var(--main-color);
}

.skills-container {
    max-width: 600px; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #cbd5dd;
}